@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: #18181B; 
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a, li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
