@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.navbar {
  display: flex;
  position: fixed;
  width: 200px;
  height: 100vh;
  align-items: center;
  flex-flow: column;
  text-align: center;
  border-right: 1px solid #33373C;
  gap: 20px;
}

.navItem {
  margin-top: 20px;
  flex-flow: column;
  width: 100%;
}

.sectionName {
  color: white;
  font-weight: 600;
  font-size: 1.05rem;
}

.links {
  margin-top: 10px;
  & > a {
    width: 100%;
    display: inline-block
  }
}


.linkName, .linkNameActive {
  color: #AEAEAE;
  font-size: 1.05rem;
  width: 100%;
  padding: 10px 0px;
  display: inline-block;
  transition: .2s ease-out;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  &:hover {
    background: #21232E;
    color: #7196DF;
  }
}

.linkNameActive {
  color: #7196DF;
  background: #21232E;
}

