@import "abstracts/mixins.scss";

html,
body {
  padding: 0;
  margin: 0;
  background: #18181B; 
  @include medium_font;
}

a, li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pages {
  margin-left: 250px;
}